@{
    ViewData["Title"] = "تعریف امانت";
}

<style>
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f4f4f4;
    }

    .form-container {
        font-family: "Vazir", sans-serif;
        width: min(50rem, 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        gap: 1rem;
        margin-inline: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: white;
        border-radius: 10px;
    }

    .form-container h3 {
        font-family: "Lalezar", sans-serif;
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
        border-bottom: 1px solid #DC5F00;
        align-self: center;
    }

    .form-container div {
        display: flex;
        flex-direction: column;
    }

    .form-container input, .form-container select, .form-container textarea {
        border-radius: 4px;
        border: 1px solid gray;
        padding: 0.5rem;
        resize: none;
    }

    #TransactionDate {
        text-align: center;
    }

    .form-container button {
        margin-top: 1rem;
        border: none;
        border-radius: 5px;
        background-color: white;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        background-color: #e6e6e6;
        transition: all ease-in-out 200ms;
    }

    .form-container button:hover {
        background-color: #DC5F00;
        color: white;
        transition: all ease-in-out 50ms;
    }
</style>

<form asp-action="AddTransactionToDB" class="form-container" method="post">
    <h3>تعریف امانت</h3>

    <div>
        <label for="NationalId">کد ملی عضو</label>
        <input type="text" id="NationalId" name="NationalId" required />
    </div>

    <div>
        <label for="BookId">کتاب مورد نظر</label>
        <select id="BookId" name="BookId" required>
            <option value="" disabled selected>(ID - نام کتاب) - انتخاب کنید...</option>
            @foreach (var book in Model)
            {
                <option value="@book.Id">@book.Id - @book.Title - @book.Author</option>
            }
        </select>
    </div>

    <div>
        <label for="TransactionDate">تاریخ تحویل</label>
        <input type="date" id="TransactionDate" name="TransactionDate" required />
    </div>

    <button type="submit">Submit</button>
</form>