@{
    ViewData["Title"] = "صفحه اصلی";
}

<style>
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f4f4f4;
    }

</style>

<div class="index-main">
    <h4>خوش آمدید!</h4>
    <div class="panel">
        <h2 class="panel-title">دسترسی سریع</h2>
        <div class="panel-list">

            <div class="panel-list-item" onclick="window.location='@Url.Action("AddTransaction", "Transactions")';">
                <i class="fa-solid fa-receipt"></i>
                <p>لیست کتاب ها</p>
            </div>

        </div>
    </div>
</div>